@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Overpass:400,900&display=swap');

* { /* would work the same with #wrapper */
	font-family: 'Overpass', sans-serif;
	background-color: #EEEEEE;
	margin: 0;
	padding:0;
	border-width: 0px 0;
}

.filler{
	width: 100%;
	height: 56px;
}

.blue-bg{
	background-color: #232ED1;
	color: #EEEEEE;
}

.white-bg{
	background-color: #EEEEEE;
	color: #232ED1;
}

.navmenu{
    float:right;
    width:auto;
    margin:0; padding:0;
    list-style-type:none;
}
.navmenu > li {
    float:right;
    display:inline;
    position:relative;
    border:0px white solid;
    background-color: inherit;
	color: inherit;
}
.navmenu > li > a{
	padding: 20px;
	width: auto;
	transition: transform .6s ease-in-out;
	background-color: inherit;
	color: inherit;
}

.navmenu > li:hover > a {
	transform: rotate(180deg);
}
.navmenu > li:hover ul {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s, 0s;
}
.navmenu li ul {
    position:absolute;
    float:right;
    width: auto;
    height:0;
	right: 0;
    margin:0;
    visibility: hidden;
    opacity: 0;
    transition-property: opacity, visibility;
    transition-duration: .6s, 0s;
    transition-delay: 0s, .4s;
	list-style-type:none;
	text-align: right;
	background-color: inherit;
	color: inherit;
	z-index: 2;
}
.navmenu ul li {   
    background-color: inherit;
	color: inherit;
    border:0px black solid;
	padding-right: 20px;
	padding-bottom: 10px;
	white-space: nowrap;
	font-size: large;
	transition: font-size 0.2s;
}
.navmenu li ul a {
	 text-decoration: none;
	 display: block;
	 width: 100%;
	 height: 100%;
}
.navmenu ul li:hover {
	font-size: x-large;
    border:0px white solid;
    color: inherit;
	cursor:pointer;
}

.fade-in{
	animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.center-text{
	position: relative;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	background-color: inherit;
	text-align: center;
}

.profile-pic{
	height: 35vh;
	min-height: 200px;
	max-width: 95%;
	width:auto;
}

.bio-section{
	display: block;
	text-align: center;
	margin: 0 auto;
}

.bio-title{
	font-size: x-large;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
}

.bio-description{
	width: 50vw;
	min-width: 400px;
	max-wdith: 95vw;
	margin: 0 auto;
}
