@charset "UTF-8";
/* CSS Document */

.cover{
	height: 85vh;
	width: 100%;
	text-align: center;
}

.small-cover{
	height: 15vh;
	width: 100%;
	text-align: center;
	font-size: x-large;
}

.title{
	background-color: inherit;
	font-weight: 900;
	font-size: 50px;
}

.subtitle{
	background-color: inherit;
	font-size: medium;
	font-weight: normal;
}

.photo-section{
	display: inline-block;
	text-align: center;
}
	
.photo-section img{
	height: 39vh;
	min-height: 200px;
	max-height: 270px;
	width: auto;
	max-width: 95%;
	padding-left: 2px;
	padding-right: 2px;
}

.menu-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: inherit;
	color: inherit;
	display: inline-block;
	text-align: initial;
}

.menu-list li {
	float: left;
	background-color: inherit;
	color: inherit;
	transition: font-size 0.2s;
}

.menu-list li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
	background-color: inherit;
	color: inherit;
}

.menu-list li a:hover {
	background-color: #1721B6;
	cursor:pointer;
}

.menu-list li a div {
	background-color: inherit;
	color: inherit
}


.menu-list li a div i {
	background-color: inherit;
	color: inherit;
	width: 15vw;
	height: auto;
}

.menu-list li a div p {
	background-color: inherit;
	color: inherit;
	width: 15vw;
	height: auto;
}

.know-more{
	text-align: center;
	background-color: inherit;
	color: inherit
}

.know-more p{
	font-size: large;
	background-color: inherit;
	color: inherit
}

.pad-top{
	padding-top: 10px;
}

.menu-item-icon{
	display: block;
}