@charset "UTF-8";
/* CSS Document */

.left-title {
	flaot: left;
	margin-top:20px;
	padding-left: 30px;
	font-weight: 900;
	font-size: 50px;
}
.year{
	background-color: inherit;
	font-size: x-large;
	font-weight: normal;
	color: inherit;
}
.section{
	display: block;
	text-align: center;
	width: 100%;
	height: auto;
	padding: 10px;
}

.project-expose{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

.project-expose a{
	background-color: inherit;
}

.project-expose img{
	height: 50vh;
	min-height: 200px;
	max-height: 270px;
	width: 50vh;
	padding-left: 2px;
	padding-right: 2px;
	object-fit: contain;
}

